# Portfolio Server Environment Variables (Template)
PORT=4173

# MongoDB Atlas Connection
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.v37bky3.mongodb.net/?appName=Cluster0
DB_NAME=portfolio_db
COLLECTION_NAME=portfolio_config
DOC_ID=active_portfolio

# Cloudinary CDN Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
